
.container {
    position: relative;
    width: 400px;
    height: 400px;
}

.box {
   width: 150px;
   height: 150px;
   position: absolute;
}

.pink {
    background-color: #ff00c3;
    top: 0;
    left: 0;
    z-index: 1;
}

.blue {
background-color: blue;
top: 80px;
left: 100px;
z-index: 2;
}

.green {
    background-color: greenyellow;
    top: 180px;
    left: 190px;
    z-index: 1;
}